Cold Mail Automation.json
{
  "name": "Cold Mail Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 15,
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        -48
      ],
      "id": "6a9ccc97-f77d-464f-8fca-80395c75a794",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Aqb3gNN6ibV3tc32oh8JpcrraIYDt0b2MmbzZY2mwoQ",
          "mode": "list",
          "cachedResultName": "All n8n projects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Aqb3gNN6ibV3tc32oh8JpcrraIYDt0b2MmbzZY2mwoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526322845,
          "mode": "list",
          "cachedResultName": "HR Cold Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Aqb3gNN6ibV3tc32oh8JpcrraIYDt0b2MmbzZY2mwoQ/edit#gid=1526322845"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -48
      ],
      "id": "e3b02b5a-62c0-44bb-b799-252e49127ac7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnCNZNqWqItpulsa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        208,
        -48
      ],
      "id": "9a442c25-9e67-4dc0-b1eb-5752230f2659",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful AI assistant designed to generate cold mails for HR's and mail them. Only generate mail message / body and NOT the subject\n\nDon't mention name of HR, name of the company\n\nI need you to generate message asking for job vacancy in their company in AI Automation field.\n\nThis is my OBJECTIVE which I've put in my resume (providing for context purpoese):\nI'm a motivated, data-driven, solution-oriented AI Automation Engineer with hands-on internship experience building AI agents and \nworkflows using tools like n8n, Voiceflow, Roboflow, and Botpress. Skilled at designing scalable, effective automation that \neliminates manual effort, saves valuable time, boosts accuracy, and generates actionable insights. Passionate about deploying \nintelligent workflows that enhance operations and user experience. Eager to contribute immediately as a full-time AI Automation \nEngineer while growing in an innovative, collaborative environment focused on meaningful, long-term impact.\n\nProvide drive-link for my resume as well: https://drive.google.com/file/d/1lDxMgFkBNVjubuLZeFEY1rpM15TLkY16/view?usp=drive_link\n\nSo generate a SHORT cold mail message accordingly and end it with:\n\nRegards,\nRonak Doshi",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        -48
      ],
      "id": "e18dd5e5-27fa-4fba-9133-f75eab19f0ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        128
      ],
      "id": "c10c6c55-e7e0-46ee-8eac-7dd540183951",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bkPZ6Xe5ptOrlBv1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Aqb3gNN6ibV3tc32oh8JpcrraIYDt0b2MmbzZY2mwoQ",
          "mode": "list",
          "cachedResultName": "All n8n projects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Aqb3gNN6ibV3tc32oh8JpcrraIYDt0b2MmbzZY2mwoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1526322845,
          "mode": "list",
          "cachedResultName": "HR Cold Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Aqb3gNN6ibV3tc32oh8JpcrraIYDt0b2MmbzZY2mwoQ/edit#gid=1526322845"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Limit').item.json.Email }}",
            "Status": "Sent"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        -48
      ],
      "id": "e2330a57-4876-49af-90ec-d4be01b5212e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnCNZNqWqItpulsa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "AI Automation Role",
        "message": "={{ $json.output }}",
        "options": {
          "sendTo": "={{ $('Limit').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -48
      ],
      "id": "eebd8ac3-1beb-4a22-937d-0dbed7246e3c",
      "name": "Create a draft",
      "webhookId": "e4047dde-a635-43d3-9eb3-f3b8bd3d1f37",
      "credentials": {
        "gmailOAuth2": {
          "id": "zalVZxuvN3Hp0bdK",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6cfa326f-3b5d-4df7-8821-173654fd9c78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed04ac20ab46b16ae740f41f6bbaf757dd7fdcfdb0a085bc8d58cbe5beb93d0f"
  },
  "id": "O5yeHyz9i8wTlNJW",
  "tags": []
}